.App-header {
    background-color: #282c34;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-size: calc(10px + 2vmin);
    color: white;
}

.App {
    width: 200px;
    margin: 0 auto;
    margin-top: 3rem;
}

.App .board {
    display: grid;
    grid-template-columns: 20px 50px 20px 50px 20px 50px 20px;
    grid-template-rows: 20px 50px 20px;
}

.side {
    width: 100%;
    background-color: rgb(209, 109, 209);

    border-radius: 10px;

}

button {
    border-radius: 50%;
    border: 1px solid;
}

button:hover {
    cursor: pointer;
}

.num {
    display: flex;
    justify-content: center;
    align-items: center;
}
